<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865155786423-hf6jqhv1d9n8b64tjqjsaarfnk3vs207.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865155786423-hf6jqhv1d9n8b64tjqjsaarfnk3vs207</string>
	<key>API_KEY</key>
	<string>AIzaSyAf7mfLdj09gF_2nkQXyHJszZYK2vdww3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>865155786423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterproject.lunchvote.lunchVote</string>
	<key>PROJECT_ID</key>
	<string>lunch-vote-ed5de</string>
	<key>STORAGE_BUCKET</key>
	<string>lunch-vote-ed5de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865155786423:ios:78902c7c6a79505e594f32</string>
</dict>
</plist>